@charset "utf-8";

.clear {
    clear: both;
}

html {
    overflow-x: hidden;
}

body {}

img {
    max-width: 375px;
}

header {
    width: 100%;
    height: 50px;
    background-color: #114443;
    position: fixed;
    z-index: 9000;
    /*max-width: 375px;*/
}

.pconly {
    display: none;
}

.head_logo {
    float: left;
    margin-left: 30px;
    line-height: 50px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    padding-left: 90px;
    height: 50px;
}

.head_menu {
    float: right;
    /* margin-right: 30px; */
    line-height: 50px;
    width: 100%;
    background: #ddd;
    position: fixed;
    white-space: nowrap;
    color: #FFFFFF;
    top: 50px;
    overflow-x: scroll;
}

.head_menu a:link {
    color: #FFFFFF;
}

.head_menu a:visited {
    color: #FFFFFF;
}

.head_menu a:hover {
    color: #FF9600;
}

.security {
    clear: both;
    text-align: center;
    padding-top: 50px;
}

footer {
    max-width: 375px;
    width: 100%;
    background-color: #FFFFFF;
    border-top: 1px solid #999999;
}

footer .foot_menu {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    white-space: nowrap;
    background: #ddd;
    overflow-x: scroll;
    color: #fff;
}

footer .foot_menu li {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    color: #fff;
}

footer .foot_menu li a {}

.copyright {
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    background-color: #114443;
    padding-top: 40px;
    padding-bottom: 40px;
}

@media screen and (min-height: 880px) {

    .sec_main,
    .sec_con,
    .sec_pre,
    .sec_com {
        height: 100vh;
        position: relative;
        overflow-x: hidden;
        min-width: 1000px;
    }

    .sec_pro {
        height: 120vh;
        position: relative;
        overflow-x: hidden;
        min-width: 1000px;
    }
}

@media screen and (max-height: 879px) {

    .sec_main,
    .sec_pre,
    .sec_com {
        height: 900px;
        position: relative;
        overflow-x: hidden;
        /*max-width: 375px;*/
    }

    .sec_pre {
        height: 600px;
    }

    .sec_main {
        height: 316px;
    }

    .sec_com {
        height: 1600px;
    }

    .sec_con {
        height: 1120px;
        position: relative;
        overflow-x: hidden;
        max-width: 375px;
    }

    .sec_pro {
        height: 1600px;
        position: relative;
        overflow-x: hidden;
        max-width: 375px;
    }
}


.content01 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    /* Safari用 */
    transform: translate(-50%, -50%);
    width: 375px;
}

.content02 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    /* Safari用 */
    transform: translate(-50%, -50%);
    width: 960px;
    height: 1200px;
}

.mainv {
    position: relative;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

.video1 {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -100;
}

@media (aspect-ratio: 16/9),
(min-aspect-ratio: 16/9) {
    .video1 {
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media (max-aspect-ratio: 16/9) {
    .video1 {
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.video2 {
    position: absolute;
}

@media (aspect-ratio: 16/9),
(min-aspect-ratio: 16/9) {
    .video2 {
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media (max-aspect-ratio: 16/9) {
    .video2 {
        height: 100%;
        left: 50%;
        top: 47px;
        transform: translateX(-50%);
        width: 100%;
    }
}

.sec_main {
    position: relative;
    /*max-width: 375px;*/
    overflow-x: hidden;
    overflow-y: hidden;
}

.sec_main h2 {
    font-size: 60px;
    color: #FFFFFF;
    line-height: 70px;
    font-family: Source Sans Pro;
    display: none;
}

.sec_main h3 {
    color: #FFFFFF;
    font-size: 18px;
    display: none;
}

.sec_con {
    background-image: url(../img/bg02.jpg);
}

.sec_con h2 {
    font-family: Source Sans Pro;
    text-align: center;
    font-size: 50px;
    color: #005178;
    border-bottom: 1px solid #999999;
    padding-bottom: 20px;
    margin-bottom: 20px;
    line-height: 60px;
}

.sec_con p {
    text-align: center;
    line-height: 40px;
    padding: 1rem;
}

.scroll {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 100%;
}

.sec_pre {
    width: 100%;
    background-color: rgba(3, 26, 26, 0.90);
    color: #FFFFFF;
}

.sec_pre h2 {
    font-family: Source Sans Pro;
    text-align: center;
    font-size: 50px;
    color: #FFFFFF;
    border-bottom: 1px solid #999999;
    padding-bottom: 20px;
    margin-bottom: 20px;
    line-height: 60px;
}

.sec_pre dd {
    float: left;
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.sec_pre dt {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.sec_pro {
    background-color: #FFFFFF;
}

.sec_pro h2 {
    font-family: Source Sans Pro;
    text-align: center;
    font-size: 50px;
    color: #005178;
    border-bottom: 1px solid #999999;
    padding-bottom: 20px;
    margin-bottom: 20px;
    line-height: 60px;
}

.sec_pro h3 {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 8px;
    line-height: 28px;
    background-color: #005178;
    color: #FFFFFF;
    border-radius: 4px;
    text-align: center;
}

.sec_pro .pro_img_box {}

.sec_pro .pro_box {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    width: 450px;
    float: left;
}

.sec_pro .pro_img {
    float: left;
    margin-bottom: 15px;
    /*margin-left: 15px;*/
    /*margin-right: 15px;*/
    /*margin-bottom: 30px;*/
}

.sec_pro .pro_img img {
    display: block;
    transition-duration: 0.3s;
}

.sec_pro .pro_img img:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
}

.sec_pro .pro_txt {
    line-height: 20px;
    font-size: 12px;
}

.sec_pro .pro_txt p {
    line-height: 20px;
}

.pro_txt dl dt {
    float: left;
    clear: both;
    background-color: #006A9F;
    color: #FFFFFF;
    text-align: center;
    border-radius: 4;
    width: 80px;
    margin-bottom: 8px;
}

.pro_txt dl dd {
    float: left;
    padding-left: 6px;
}






.sec_com {
    background-color: rgba(22, 11, 3, 0.90);
    color: #FFFFFF;
}

.sec_com h2 {
    font-family: Source Sans Pro;
    text-align: center;
    font-size: 50px;
    color: #988A5A;
    border-bottom: 1px solid #999999;
    padding-bottom: 20px;
    margin-bottom: 20px;
    line-height: 60px;
}

.sec_con dl {}

.sec_com dd {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.sec_com dt {
    /*float: left;*/
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
}

.com_box {
    width: 930px;
    margin-left: auto;
    margin-right: auto;
}

#storage .main,
#contact .main {
    padding: 13rem 2rem;
}

#storage .contact_button {
    background: #114443;
    padding: 1rem 2rem;
    border-radius: 25px;
    color: #fff;
}

@media screen and (max-width: 767px) {
    #contact table {
        display: block;
        width: 100%;
        border: 1px solid #ddd;
    }

    #contact table tbody {
        display: block;
        width: 100%;
    }

    #contact table tr {
        display: block;
        width: 100%;
    }

    #contact table th {
        display: block;
        width: 100%;
        border: 1px solid #ddd;
    }

    #contact table td {
        display: block;
        padding: 1rem;
        border: 1px solid #ddd;
        text-align: center;
    }

    #contact table input,
    #contact table textarea {
        padding: 1rem;
        width: 80%;
    }

    #contact table .needs {
        font-size: 1rem;
        color: red;
    }
}

#contact .button_area button {
    background: #114443;
    padding: 1rem 6rem;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
}

#contact .button_area button:hover {
    opacity: 0.7;
}

#contact .button_area {
    width: 50%;
    margin: 1rem auto;
    text-align: center;
}

#errorbox {
    width: 100%;
    margin: 1rem auto;
    color: red;
}

.page_title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}